body{
  font-family: 'Courier New', Courier, monospace;
}
.container {  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px 10px;
  grid-auto-flow: row;
  grid-template-areas:
    "Head Head Head"
    "O-mnie O-mnie O-mnie-fot"
    "Masa-fot Masa Masa"
    "Cennik Cennik Cennik"
    "Kontakt Kontakt Kontakt";
}

.O-mnie { grid-area: O-mnie; }

.Head { grid-area: Head; }

.Kontakt { grid-area: Kontakt; }

.O-mnie-fot { grid-area: O-mnie-fot; }

.Masa-fot { grid-area: Masa-fot; }

.Masa { grid-area: Masa; }

.Cennik { grid-area: Cennik; }
.navbar {
  overflow: hidden;
  background-color: white;
  position: fixed; 
  top: 10px; 
  width: 100%; 
  box-shadow: 0 0 1em #888888;
  
}
.navbar a {
  float:inline-start;
  color: black;
  font-weight: bolder;
  padding: 10px 10px 10px 10px;
  text-decoration: none;
  font-size: large;
  text-align: center;
  
}

.navbar a:hover {
  background: #ddd;
  color: black;
}
.logo {
  display: inline;
  vertical-align:middle;
  
 